/* Variables for scss only */
$block-color: #ffffffa4;
$font-pri: #000000;
$font-sec: #ffffffff;


/* Universal settings */
/* Font choice for the entire webpage */
body {
    font-family: 'Red Hat Display', sans-serif;
    p {
        font-size:20px;
    }
    li {
        font-size:20px;
    }
}

/* Header including nav bar and logo*/
header {
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: $font-pri;
    img {
        /* The logo of the website */
        width: 25%;
        height:auto;
        padding-left: 4em;
    }
    nav {
        ul {
            list-style-type: none;
            margin:0;
            padding:0;
        }
        li {
            display: inline-block;
            a {
                color: #e2e2e2;
                text-decoration: none;
                background-color: #272727 ;
                border-radius: 1.7em;
                padding: 14px 16px;
            }
            a:hover {
                background-color: #414141;
                color:white;
            }
        }
        float: right;
        padding-top: 3em;
        padding-right: 4em;
        text-align:center;
    }
}

footer {
    text-align: center;
    color: $font-sec;
    background-color: $font-pri;
    p {
        margin:0;
    }
}

/* Section specific classes */

#home {
    background: black url(../img/mountain_view_1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.home-block {
    margin-top: 15em;
    background-color: $block-color;
    color: $font-pri;
    text-align: center;
    a {
        display: inline-block;
        color:inherit;
        font-size: inherit;
        margin: 30px 5px;
        border: $block-color 2px solid;
        min-width: 150px;
        text-decoration: none;
        padding: 1em;
    }
}

#chalet {
    background: black url(../img/mountain_view_dark.jpg) no-repeat center;
    background-size:cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color:$font-pri;
}

#membership {
    background: black url(../img/maunga_club_cabin.jpg) no-repeat center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: $font-pri;
}

.block {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-left: 3em;
    padding-right: 3em;
    .title {
        width:26.5%;
        margin-left:35%
    }
}

.block-content {
    background-color: $block-color;
    border-radius: 5em;
    margin: 1em;
    text-align: center;
    padding:20px
}
